.navigation {
  height: 13rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 16% 72%, 0 72%, 0 0);
  transition: 0.4s;
}
.navigation__logo {
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  margin-left: 20rem;
  color: #fff;
  margin-top: 2.5rem;
}
.navigation__list {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  margin-right: 20rem;
  margin-top: 3.8rem;
}
.navigation__listItem {
  margin: 0 1rem;
}
.navigation__listItem a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  font-weight: 700;
}
.navigation__listItem a:hover {
  color: #bfbfbf;
}

.active {
  color: white !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  background: url("../../img/header-image2.png");
  background-size: cover;
  background-position: center;
  padding: 0.1rem;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 16% 95%, 0 95%, 0 0);
  z-index: 1;
}

.heading {
  margin: 33rem 0 0 20rem;
}
.heading h1 {
  font-size: 6.6rem;
  color: #fff;
  letter-spacing: 0.3rem;
  font-weight: 600;
  line-height: 8rem;
}
.heading span {
  text-decoration: underline;
}

.services {
  width: 110rem;
  margin: 9rem auto 10rem;
}
.services h1 {
  font-size: 4rem;
  font-weight: 500;
}
.services__list {
  list-style: none;
  padding: 0;
  margin: 7.7rem 0 10rem;
  display: flex;
  justify-content: flex-start;
}
.services__listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33rem;
  margin-right: 3.3rem;
}
.services__listItem img {
  width: 6.6rem;
}
.services__listItem h3 {
  font-size: 2rem;
  margin: 1rem 0 2rem;
}
.services__listItem p {
  font-size: 1.5rem;
  margin: 0;
  color: #555;
}

.works h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 110rem;
  margin: 15rem auto 9rem;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 15rem;
  clip-path: polygon(85% 4%, 100% 4%, 100% 100%, 25% 95%, 0 95%, 0 0);
}
.works__listItem {
  width: 33.33%;
  overflow: hidden;
  position: relative;
}
.works__listItem img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.works__listItem img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.works .description {
  position: absolute;
  bottom: 9rem;
  left: 4rem;
  z-index: 51;
}
.works .description h3 {
  color: white;
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
}
.works .description h5 {
  color: #cccccc;
  margin: 0 0 -1rem;
  font-size: 2rem;
  font-weight: 500;
}

.about h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 110rem;
  margin: 11rem auto 7rem;
}

.aboutContainer {
  width: 110rem;
  margin: 0 auto 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.aboutContainer__info {
  flex: 3;
}
.aboutContainer__info p {
  width: 90%;
  font-size: 1.4rem;
  color: #444;
  line-height: 3rem;
  margin-top: 0;
}
.aboutContainer__info button {
  border: none;
  color: #fff;
  background-color: #222;
  height: 5rem;
  width: 13rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 1.4rem;
}
.aboutContainer__image {
  flex: 2;
}
.aboutContainer__image img {
  width: 100%;
}

.ourTeam {
  background-color: #f5f5f5;
  padding: 0.1rem;
  clip-path: polygon(74% 8%, 100% 8%, 100% 60%, 100% 100%, 23% 92%, 0 92%, 0 0);
}
.ourTeam h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 110rem;
  margin: 10rem auto 7rem;
}
.ourTeam__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0 auto 10rem;
  width: 110rem;
}
.ourTeam__listItem {
  text-align: center;
}
.ourTeam__listItem h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0;
}
.ourTeam__listItem h5 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
  margin: 0 0 2rem;
}
.ourTeam .profile {
  border-radius: 100%;
  height: 23rem;
  width: 23rem;
  overflow: hidden;
  position: relative;
}
.ourTeam .profile-image {
  width: 100%;
  transform: scale(1.1);
}
.ourTeam .social-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transform: translateY(18rem);
  transition: 0.5s;
}
.ourTeam .social-overlay img {
  width: 2rem;
  margin: 10.5rem 0.7rem 0;
}
.ourTeam .social-overlay img:hover {
  cursor: pointer;
}

.blog h1 {
  width: 110rem;
  margin: 9rem auto 7rem;
  font-size: 4rem;
  font-weight: 500;
}
.blog__list {
  width: 110rem;
  margin: 0 auto 15rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.blog__listItem {
  width: 34.5rem;
}
.blog__listItem img {
  width: 100%;
  height: 22rem;
}
.blog__listItem h5 {
  color: #555;
  font-size: 1.7rem;
  margin: 1.5rem 0 0;
}
.blog__listItem h3 {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.blog__listItem h3:hover {
  cursor: pointer;
}
.blog__listItem p {
  margin: 0;
  color: #666;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.footer {
  color: white;
  background-color: #111;
  padding: 0.1rem;
  clip-path: polygon(74% 7%, 100% 7%, 100% 42%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);
}
.footer h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 110rem;
  margin: 9rem auto 3.3rem;
}
.footer__container {
  width: 110rem;
  margin: 0 auto 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .address h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
.footer .address__info {
  font-size: 1.5rem;
}
.footer .address__info p {
  margin: 0 0 0.5rem;
}
.footer .address__social {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 5rem;
}
.footer .address__social span {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer .address__social img {
  height: 2rem;
  margin-right: 1rem;
}
.footer .form h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
.footer .form form {
  display: flex;
  flex-direction: column;
  width: 60rem;
}
.footer .form form input {
  width: 28rem;
  height: 4.4rem;
  background: inherit;
  border: 0.15rem rgba(255, 255, 255, 0.3) solid;
  border-radius: 0.3rem;
  transition: 0.3s;
  font-size: 1.5rem;
  text-indent: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
}
.footer .form form input:hover {
  border: 0.15rem #fff solid;
}
.footer .form form input:active {
  border: 0.16rem #fff solid;
}
.footer .form form label {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.footer .form form textarea {
  background: inherit;
  border: 0.15rem rgba(255, 255, 255, 0.3) solid;
  border-radius: 0.3rem;
  height: 14rem;
  transition: 0.2s;
  font-size: 1.5rem;
  text-indent: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 1.5rem;
}
.footer .form form button {
  width: 12rem;
  align-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  height: 5rem;
  width: 15rem;
  border: none;
  border-radius: 0.2rem;
}
.footer .form form button:hover {
  cursor: pointer;
}
.footer .form .topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer .form .inputWrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
