.navigation {
    height: 13rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 16% 72%, 0 72%, 0 0);


    &__logo {
        font-size: 2.8rem;
        letter-spacing: .3rem;
        margin-left: 20rem;
        color: #fff;
        margin-top: 2.5rem;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style: none;
        margin-right: 20rem;
        margin-top: 3.8rem;
    }

    &__listItem {
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.3rem;
            font-weight: 700;
        }

        a:hover {
            color: darken(white, 25%);
        }
    }
}

.active {
    color: rgb(255, 255, 255) !important;
}