.navigation {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 101;

    &__logo {
        font-size: 2.8rem;
        letter-spacing: .3rem;
        margin-left: 15rem;
        color: #fff;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style: none;
        margin-right: 15rem;
    }

    &__listItem {
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.2rem;
            font-weight: 700;
        }

        a:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.active {
    color: rgb(255, 255, 255) !important;
}