.header {
    height: 100vh;
    background: url('../../img/header-image1.png');
    background-size: cover;
    background-position: center;
    padding: .1rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 16% 95%, 0 95%, 0 0);
}

.heading {
    margin: 33rem 0 0 20rem;

    h1 {
        font-size: 6.6rem;
        color: #fff;
        letter-spacing: .3rem;
        font-weight: 600;
        line-height: 8rem;
    }

    span {
        border-bottom: .5rem #fff solid;
    }
}