.ourTeam {
    background-color: #f5f5f5;
    padding: .1rem;
    clip-path: polygon(74% 8%, 100% 8%, 100% 60%, 100% 100%, 23% 92%, 0 92%, 0 0);

    h1 {
        font-size: 4rem;
        font-weight: 500;
        width: 110rem;
        max-width: 90%;
        margin: 10rem auto 7rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        margin: 0 auto 10rem;
        width: 110rem;
        max-width: 90%;
    }

    &__listItem {
        text-align: center;

        h3 {
            font-size: 2.2rem;
            font-weight: 500;
            margin: 0;
        }

        h5 {
            font-size: 1.8rem;
            font-weight: 400;
            color: #444;
            margin: 0 0 2rem;
        }
    }

    .profile {
        border-radius: 100%;
        height: 23rem;
        width: 23rem;
        overflow: hidden;
        position: relative;

        &-image {
            width: 100%;
            transform: scale(1.1);
        }
    }

    .social-overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
        border-radius: 50%;
        transform: translateY(18rem);
        transition: .5s;

        img {
            width: 2rem;
            margin: 10.5rem .7rem 0;
        }

        img:hover {
            cursor: pointer;
        }
    }
}


//MEDIA QUERIES
@media( max-width: 1075px ) {
    .ourTeam {
        clip-path: none;
    }

    .ourTeam__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .ourTeam__listItem {
        margin: 0 5rem 5.5rem;
    }
}

@media( max-width: 990px ) {
    .ourTeam h1 {
        width: 80%;
    }
}